@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: "Arima", system-ui , sans-serif  ; */
  /* font-family: "Average Sans", sans-serif; */
}

#root {
  background-color: #140C0B;
  height: full;
  min-height: 100vh;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}